.App {
  display: flex;
  flex: 1;
  min-height: 95vh;
}

.AppContent {
  background-color: #282c34;
  display: flex;
  flex: 1;
  min-height: 95vh;
  flex-direction: column;
  justify-content: space-around;
}

.ChatArea {
  flex: 4;
}

.InputArea {
  flex: 1;
}

