.ContainerAreaChat {
  background-color: #76eba3;
  border: #01606d;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.scroller {
  display: flex;
  overflow: auto;
  max-height: 88vh;
  flex: 1;
  flex-direction: column;
  scroll-behavior: auto;
}

.item {
  flex: 1;
}